.calc-body{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    margin: 50px auto;
    justify-content:space-around;
    align-items: center;
    background-color: cadetblue;
    border: 5px green solid;
    padding:50px 20px;
}
.row1,
.row2,
.row3{
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-around;
}
.digits,
.operator,
.clear,
.equal{
    box-sizing: border-box;
    background-color: green;
    color:white;
    height: 80px;
    width: 80px;
    border-radius: 30%;
    text-align: center;
    font-size: 30px;
    line-height: 70px;
}
.digits:hover,
.operator:hover,
.clear:hover{
    opacity: 0.5;
    border:3px solid white;
}
.equal:hover {
    opacity: 0.5;
    border: 3px solid white;
}

.operator,
.clear{
    background-color :blue;
}
.clear{
    margin-right: 15px;
    width: 100px;
}
.clear{
    align-self: flex-end;
}
.display{
    width: 470px;
    height: 90px;
    box-sizing: border-box;
    text-align: right;
    font-size: 50px;
    padding: 15px;
    background-color: black;
    color: white;
}
p{
    margin: 0px;
    padding: 0px;
}